.elementor-252 .elementor-element.elementor-element-755b0df {text-align: center;}
.elementor-252 .elementor-element.elementor-element-755b0df .elementor-heading-title {color: var(--e-global-color-55f918e1);}
.elementor-252 .elementor-element.elementor-element-e9b3bff {color: var(--e-global-color-55f918e1);}