.elementor-228 .elementor-element.elementor-element-9fbbcee {text-align: center;}
.elementor-228 .elementor-element.elementor-element-9fbbcee .elementor-heading-title {color: var(--e-global-color-55f918e1);}
.elementor-228 .elementor-element.elementor-element-9d778f7 {text-align: center;}