.elementor-242 .elementor-element.elementor-element-f682589 {text-align: center;}
.elementor-242 .elementor-element.elementor-element-f682589 .elementor-heading-title {color: var(--e-global-color-55f918e1);}
.elementor-242 .elementor-element.elementor-element-2d0957e {color: var(--e-global-color-55f918e1);}